<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<h1>Welcome to my RESTful routing demo</h1>
		<div>
			<h2>In the search bar, type one of the following:</h2>
			<p>/comments -- shows all comments</p>
			<p>/comments/new -- renders a form to create a new comment</p>
			<p>/comments/:id -- shows details for specific comment</p>
			<p>/comments/:id/edit -- renders form to edit specific comments</p>
		</div>
		<a href="/comments/index">Go to comments</a>
	</body>
</html>
